<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <style>
          .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
          }

          .active, .accordion:hover {
            background-color: #ccc; 
          }

          .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
          }
            h1{
              
                 font-size: 50px;
                 color: whitesmoke;
                 background-color: lightpink;
                padding :30px;
                border-radius: 25px;
            }
            h2{
                
                 font-size: 30px;
                 color: rgb(0, 0, 0);
                 background-color: rgb(255, 81, 133);
                 color: whitesmoke;
                padding :20px;
                
                
            }
            table {
              width:100%;
            }
            table, th, td {
              border: 1px solid rgb(192, 98, 153);
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
              text-align: left;
            }
            table#t01 tr:nth-child(even) {
              background-color: #eee;
            }
            table#t01 tr:nth-child(odd) {
            background-color: #fff;
            }
            table#t01 th {
              background-color:#FFC0CB;
              color: white;
            }

             .button {
            background-color: #FFC0CB;
            border: none;
            color: white;
            padding: 5px 7px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            cursor: pointer;
            }
                        * {box-sizing: border-box}
            body {font-family: "Lato", sans-serif;}

            /* Style the tab */
            .tab {
              float: left;
              border: 1px solid #ccc;
              background-color: #f1f1f1;
              width: 30%;
              height: 300px;
            }

            /* Style the buttons inside the tab */
            .tab button {
              display: block;
              background-color: inherit;
              color: black;
              padding: 22px 16px;
              width: 100%;
              border: none;
              outline: none;
              text-align: left;
              cursor: pointer;
              transition: 0.3s;
              font-size: 17px;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
              background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
              background-color: #ccc;
            }

            /* Style the tab content */
            .tabcontent {
              float: left;
              padding: 0px 12px;
              border: 1px solid #ccc;
              width: 70%;
              border-left: none;
              height: 300px;
            }
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #F5F5F5;
            } 
            li {
                float: left;
            }     
            li a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: white;
            }    
            .active {
                background-color: #FFC0CB;
                
            }
            .topnav .search-container {
                float: right;
            }
            .topnav input[type=text] {
                padding: 6px;
                margin-top: 8px;
                font-size: 17px;
                border: none;
            }
            .topnav .search-container button {
                float: right;
                padding: 6px 10px;
                margin-top: 8px;
                margin-right: 16px;
                background: #ddd;
                font-size: 17px;
                border: none;
                cursor: pointer;
            }
            .topnav .search-container button:hover {
                background: #ccc;
            }
            @media screen and (max-width: 600px) {
                .topnav .search-container {
                    float: none;
                }
                .topnav a, .topnav input[type=text], .topnav .search-container button {
                    float: none;
                    display: block;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 14px;
                }
                .topnav input[type=text] {
                    border: 1px solid #ccc;  
                }
            }
        </style>
    </head>
    <body>
        <ul>
            <li><h1><b>Candy Kingdom</b></h1></li>
            <li style="float: right"><a class="active" href="/logout">Logout</a></li>
            <li style="float:right"><a class="active" href="/MyAccount">My Account</a></li>
            <li style="float:right"><a class="active" href="/ShoppingCart">Shopping Cart</a></li>
        
        </ul>
        <ul>
            <div class="topnav">
                <b><li><a class="active" href="/">Home</a></li></b>
                <li><a href="/products">Products</a></li>
                <li><a href="/female">Female</a></li>
                <li><a href="/male">Male</a></li>
                <li><a href="/androgynous">Androgynous</a></li>
                <li><a href="/sale">SALE</a></li>

                <div class="search-container">
                    <form action="/search" method="POST">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </ul>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
          
        <h2>     Account Summary </h2>
        <div class="tab">
                <button class="tablinks" onclick="openIt(event, 'Order History')" id="defaultOpen">Order History</button>
                <button class="tablinks" onclick="openIt(event, 'MyAddress')" id="defaultOpen">MyAddress</button>

              </div>
              
              <div id="Order History" class="tabcontent">
                <h3><b>Order History</b></h3>
                <br><br>
                
                    <% if (shop.length==0){ %>
                      <p>No Orders</p>
                    <% } %> 
                    <% if(shop.length!=0) { %>
                      <button class="accordion"><b>Order Number: <%=shop[0].order_id %></b></button>
                      <div class="panel">
                          <br><br>
                            <table id="t01">
                                
                                <tr>
                                      <th>Product Nr</th> 
                                      <th>Product</th>
                                      <th>Quantity</th>
                                      <th>Total</th>
                                    </tr>
                                    <tr>
                                        
                                        <td><%=shop[0].product_id %></td>
                                        <td><%=shop[0].name %></td>
                                        <td><%=shop[0].quantity %></td>
                                        <td><%=shop[0].totalprice %></td>
                                    </tr>
                                    <% for (p=1; p<shop.length; p++){ %>

                                        <% if (shop[p].order_id==shop[p-1].order_id){ %>
                                          <tr>
                                            
                                              <td><%=shop[p].product_id %></td>
                                              <td><%=shop[p].name %></td>
                                              <td><%=shop[p].quantity %></td>
                                              <td><%=shop[p].totalprice %></td>
                                          </tr>
                                      <% } %>
                                      <% if (shop[p].order_id!=shop[p-1].order_id){ %>
                                        </table>
                                        <br><br>
                                      </div>
                                      <button class="accordion"><b>Order Number: <%=shop[p].order_id %></b></button>
                                      <div class="panel">
                                          <br><br>
                                        
                                        <table id="t01">
                                        <tr>
                                            
                                            <th>Product Nr</th> 
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                          </tr>
                                        <tr>
                                            
                                            <td><%=shop[p].product_id %></td>
                                            <td><%=shop[p].name %></td>
                                            <td><%=shop[p].quantity %></td>
                                            <td><%=shop[p].totalprice %></td>
                                        </tr>
                                    <% } %>

                                    
                                      
                                  <% } %> 
                                  <% } %>   
                                    
                                  
                                  </table>
                                  <br><br>
                                </div>
              </div>
              
              <div id="MyAddress" class="tabcontent">
                <h3><b>MyAddress</b></h3>
                <br>
                <% for (i=0; i<1; i++){ %>
                
                                 <p>
                                 <%=user[i].firstname %> <%=user[i].surname %>  <br>
                                 <%=user[i].address %> <br>
                                 <%=user[i].zip %> <%=user[i].city %> <br>
                                 <%=user[i].country %> <br><br>
                                 E-Mail: <%=user[i].email %>
                                 </p>
                           
                       <% } %>   
                       <a href="/changeAddress" class="button">Update MyAdress</a>
              </div>
              
              
              
              <script>
              function openIt(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
              }
              
              // Get the element with id="defaultOpen" and click on it
              document.getElementById("defaultOpen").click();
              </script>
              <script>
                  var acc = document.getElementsByClassName("accordion");
                  var i;
                  
                  for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                      this.classList.toggle("active");
                      var panel = this.nextElementSibling;
                      if (panel.style.display === "block") {
                        panel.style.display = "none";
                      } else {
                        panel.style.display = "block";
                      }
                    });
                  }
                  </script>
        

    </body>
</html>
